.Rproj.user
.Rhistory
.RData
inst/doc/*
vignettes/*
!vignettes/*.Rmd
test.rds
references
.DS_Store
tests/testthat/Rplots.pdf
HR_ci.R
doc
Meta
README.html
revdep/checks.noindex
revdep/library.noindex
inst/doc
